.home-page {
    text-align: center;
  }
  
  .search-input {
    width: 300px; /* Définissez la largeur du champ de recherche */
    padding: 10px;
    font-size: 16px;
    text-align: center; /* Centre le texte dans le champ */
    border: 2px solid #9a9797;
    border-radius: 4px;
    margin: 20px auto; /* Centre le champ de recherche horizontalement */
    display: block;
  }
  
  .project-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  